.cliente-container{
  width: 100%;
  max-width: 1200px;
  padding: 5 10px;
  margin: 30px auto;
}

.cliente-container header{
  display: flex;
  align-items: center;
}

.cliente-container header img{
  height: 50px;
}

.cliente-container header button{
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #dcdce6;
  background: green;
  color: white;
  margin-left: 16px;
  transition: border-color 0.5s;
}

.cliente-container header button:hover{
  border-color: rgb(0, 66, 0);
  background-color: rgb(0, 90, 0);
  color: white;
}

table, th, td{
  border: 1px solid black;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  text-align: left;
  text-align: center;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
